<div class="operations">
    <a href="register.rails?WishId=1">Register</a>
</div>
<br />
<table class="detail">
    <tr>
        <td>User Name</td>
        <td><input id="Text1" type="text" /></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td><input id="Text2" type="text" /></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input id="Text3" type="text" /></td>
    </tr>
    <tr>
        <td>email</td>
        <td><input id="Text4" type="text" /></td>
    </tr>
    <tr>
        <td>Login</td>
        <td><input id="Text5" type="text" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input id="Text6" type="text" /></td>
    </tr>
    <tr>
        <td>Verify Password</td>
        <td><input id="Text7" type="text" /></td>
    </tr>
</table>